div.geograph-wrapper .photo-header {
  font-weight: bold;
}

div.geograph-wrapper .photo-wrapper {
  position: relative;
}

div.geograph-wrapper .photo-credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.5;
}

div.geograph-wrapper .photo-header,
div.geograph-wrapper .photo-credit,
div.geograph-wrapper .photo-footer {
  font-size: 80%;
}
